body{
    background-color: #EFF4FA;
}

.collab-container{
    display: grid;
    grid-template-columns: 8% 92%;
    margin: 0 5%;
}

#collab_btn{
    color: black;
    width: 40%;
    height: 50px;
    /* margin-top: 12%;
    margin-left: 45%; */
    margin: 5% 45% 2%;
}

#project{
    height: 80%;
    border-radius: 5%;
    /* padding: 15px; */
    width: 20%;
    color: #fff;
    background-color: #34F31F;
    font-size: 15px;
    font-weight: bold;
    margin-right: 2%;
    cursor: pointer;
}

#people{
    height: 80%;
    width: 20%;
    border-radius: 5%;
    color:black;
    /* padding:15px; */
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

#people_css{
    display: flex;
    /* float: left; */
}


#add-proj{
    z-index: 1;
    cursor: pointer;
    position: fixed;
    left: 3%;
    width: auto;
    border-radius: 5%;
    color:#fff;
    background-color: #5c82ff;
    font-size: 18px;
    font-weight: 900;
}

#add-proj:hover{
    background-color: #819cf7;
}

#add-self{
    cursor: pointer;
    position: fixed;
    left: 3%;
    border-radius: 5%;
    top: 220px;
    background-color: #5c82ff;
    color:#fff;
    font-size: 18px;
    font-weight: 900;
}

#add-self:hover{
    background-color: #819cf7;
}
