#notfound-outerbox{
    display:grid;
    grid-template-columns: auto;
    width: fit-content;
    position: relative;
    top: 200px;
    padding: 0 20%;
    margin: 0 15%;
}

#notfound{
    display: grid;
    grid-template-columns:40% 60%;
    position: relative;
    justify-content: center;
    width: fit-content;
}

#notfound-statement{
    display: grid;
    grid-template-columns: 100%;
    width: fit-content;
    height: fit-content;
}

#notfound-statement h1{
    margin-bottom: 2px;
    margin-top: 2px;
}

#failedIcon{
    width:100px;
    height:100px;
}

#notfound button{
   width: fit-content;
   height: fit-content;
}

#notfound button:hover{
   color: white;
   font-weight: bold;
}

#submit-return{
    margin:0 20% 0 25%;
}

#noservice-return-button{
    border-radius: 20px;
    background-color: #B0D0F6;
    padding: 5px;
}

#noservice-return-button:hover{
    background-color: #8989f1;
}

  /* ................................Below 1024 .............................................. */

  @media only screen and (max-width: 640px) {

    #notfound-outerbox{
        display:grid;
        grid-template-columns: auto;
        width: fit-content;
        position: relative;
        top: 200px;
        padding: 0 15%;
        margin: 0 10%;
    }
    
    #notfound h1{
        display: flex;
        justify-content: center;
    }

    
    #notfound span{
        /* position: absolute;
        top: 35%;
        left: 30%; */
        margin-left: 40%;
    }
    #failedIcon{
        width:36%;
        height:40%;
    }
    
    #notfound button{
        position: absolute;
        top: 45%;
        left: 32%;
        color: #fff;
        background-color: #1C6DD0;
        height: 5%;
        border-radius: 2%;
        cursor: pointer;
    }
    
    #notfound button:hover{
       color: white;
       font-weight: bold;
    }

    #together{
        /* margin: 10px; */
        position: absolute;
        left: -20%;
        top: -100%;
        margin-bottom: 10px;
    }

  }